{
  "types": [
    "MINT"
  ],
  "users": [
    "ETHEREUM:0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
  ],
  "blockchains": [
    "ETHEREUM"
  ],
  "from": "2021-08-24T14:15:22Z",
  "to": "2021-09-24T14:15:22Z",
  "continuation": "string",
  "cursor": "string",
  "size": 100,
  "sort": "LATEST_FIRST",
  "searchEngine": "LEGACY"
}